body{
    font-family: 'Fredoka One', cursive;
    text-align: center;
}
h1{
    font-family: 'Bungee Inline', cursive;
    font-weight: bolder;
    font-size: 90px;
    text-shadow: 10px 5px 7px deepskyblue;
}
.juxtapose{
    width: 800px;
    height: 610px;
    margin-top: 3%;
    border-radius: 10px 10px 10px 10px;
    border-width: thick;
    border-color: #000000;
}

article{
    float: left;
    width: 38%;
    text-align: left;
    text-shadow: 4px 2px burlywood;
    font-size: 32px;
}

.clear{
    clear: both;
}
img{
    border-radius: 10px 10px 10px 10px;
    float: right;
    margin-right: 10%;
    margin-top: -3%;
}
img:hover{
    box-shadow: 5px 5px 50px #03A9F4;
}
.article2{
    float: right;
    margin-top: -25%;
    margin-right: 0;
    width: 60%;
}
span{
    margin-left: 17%;
}
